[submodule "baselines/MAD-MM"]
	path = baselines/MAD-MM
	url = https://github.com/HongduanTian/MAD-MM.git

[submodule "baselines/RuleArena/upstream"]
	path = baselines/RuleArena/upstream
	url = https://github.com/skyriver-2000/RuleArena.git
